<div class="update-password-container">
  <mat-card>
    <h2>Update Password</h2>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdatePassword()">
      <!-- Old Password -->
      <mat-form-field class="full-width">
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" type="password" />
        <mat-error *ngIf="updatePasswordForm.get('oldPassword')?.hasError('required') && updatePasswordForm.get('oldPassword')?.touched">
          Old Password is required.
        </mat-error>
      </mat-form-field>

      <!-- New Password -->
      <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" type="password" />
        <mat-error *ngIf="updatePasswordForm.get('newPassword')?.hasError('required') && updatePasswordForm.get('newPassword')?.touched">
          New Password is required.
        </mat-error>
        <mat-error *ngIf="updatePasswordForm.get('newPassword')?.hasError('minlength') && updatePasswordForm.get('newPassword')?.touched">
          Password must be at least 4 characters long.
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" />
        <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required') && updatePasswordForm.get('confirmPassword')?.touched">
          Confirm Password is required.
        </mat-error>
        <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('passwordMismatch') && updatePasswordForm.get('confirmPassword')?.touched">
          Password and Confirm Password do not match.
        </mat-error>
      </mat-form-field>

      <!-- Button Container -->
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="updatePasswordForm.invalid">
          Update Password
        </button>
        <button mat-raised-button color="warn" type="button" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card>
</div>
